
function webViewUrl(url) {
  var jumpUrl = 'https://w.cekid.com/webridge.html?url=' + encodeURIComponent(url)
  return '/pages/webview/index?url=' + encodeURIComponent(jumpUrl)
}
function transUrl(url){
  if(getRegExp('^http(s)?://','i').test(url)){
    return webViewUrl(url)
  }else{
    return url;
  }
}
module.exports = {
  webViewUrl:webViewUrl,
  transUrl:transUrl,
}
